:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  margin-top: 300px;
  font-family: var(--default-font-family);
}
.navbar {
  background-color: white;
  padding-bottom: 20px;
}

.navbar-brand {
  font-size: 20px;
}

.nav-item {
  font-size: 18px;
  font-weight: 500;
  padding-left: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
.hero {
  text-align: center;
  background: #f9f9fe;
  padding: 160px 20px;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
}

h3 {
  margin: 0;
  font-size: 24px;
  opacity: 0.7;
}

h1 {
  font-size: 96px;
  text-align: center;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

p {
  font-size: 16px;
  line-height: 30px;
  padding: 10px;
  border-radius: 4px;
  font-weight: normal;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1.5;
  margin: 20px 0 0;
}
.content p {
  font-size: 14px;
}
.content {
  margin: 30px;
}
.content-container {
  padding: 160px 20px;
}
.hero-picture {
  border-radius: 20px;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

.primary-link {
  border-radius: 4px;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.secondary-link {
  border-radius: 4px;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}
.project-description {
  padding: 120px 60px;
}
.contact-section {
  margin-top: 100px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

.email-link:hover {
  text-decoration: underline;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
footer {
  margin: 0 0px;
}

footer .contact-box {
  background: var(--secondary-color);
  border-radius: 10px;
  padding: 30px 120px;
}

footer .contact-box p {
  margin: 0;
  font-size: 18px;
}

/* Social Media links  */
.social-media-links a {
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  color: var(--primary-color);
  font-size: 25px;
  margin: 30px 10px;
  padding: 10px 18px;
  transition: all 200ms ease;
}

.social-media-links a:hover {
  background-color: var(--primary-color);
  color: white;
}

/* Scroll-up button  */
.scroll-up-button {
  font-size: 16px;
  margin-bottom: 60px;
  margin-top: 55px;
  text-align: center;
}

.scroll-up-text {
  color: black;
  font-weight: 400;
  text-decoration: none;
}

.scroll-up-text:hover {
  color: black;
}

/* Website footer  */

.coder {
  font-size: 16px;
  margin-bottom: 0;
}

.coder a {
  text-decoration: none;
  color: var(--branding-color);
  font-weight: 500;
}

.coder a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}
@media (max-width: 900px) {
  h1 {
    font-size: 40px;
    line-height: 56px;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }

  p {
    text-align: center;
  }
  .hero {
    padding: 80px 20px;
  }

  .primary-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
}
